<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/frags :: head">
    <title>Shopr</title>
</head>

<body>
<div th:insert="fragments/frags :: nav"></div>

<br>
<br>
<br>
<div class="position-absolute top-50 start-50 translate-middle">
<h1>SHOPR LOG IN</h1>
    <br>
<select class="form-select col-sm-5" aria-label="Default select example">
    <option selected>Select a user:</option>
    <option th:each="user : ${allUsers}"
            th:value="${user.userName}"
            th:text="${user.userName}">
    </option>
</select>
<br>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <br>
<button type="button" class="btn btn-secondary " style="width:275px">Log in</button>
</div>

</body>
</html>
